// Core files
@import "./core/all";
@import "./layout/all";
@import "./base/all";
@import "./pages/all";

body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}
.selector {
    color: red;
    
    @include respond-to('small') {
      color: blue;
    }

    @include respond-to('medium') {
        color: purple;
    }

    
  }

  