@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  height: 100%;
  scroll-behavior: smooth;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

.col-6 {
  width: 50%;
}

.divider {
  border-top: 1px solid #999;
  display: block;
  height: 10px;
  margin: 20px 0;
}

.site-logo {
  width: 170px;
}

.navigation {
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f6bd60;
  border: 1px solid #ddd;
}

.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
}

.menu {
  width: 60%;
  height: 100%;
  float: right;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}
.menu ul a {
  padding: 0 10px;
  height: inherit;
  color: #222;
  display: inline-block;
}
.menu ul a:hover {
  background-color: #222;
  color: #fff;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #f6bd60;
    padding: 2px 0px 2px 5%;
  }

  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }

  #menuToggle:checked ~ ul {
    max-height: 200px;
  }

  .menu-icon i {
    font-size: 1.7em;
  }
}
footer {
  position: -webkit-sticky;
  position: sticky;
  margin-top: calc(100vh + 40px);
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6bd60;
  min-height: 60px;
}

.section-title {
  font-size: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #f6bd60;
  line-height: 3rem;
}

h1 {
  font-size: 2.1rem;
  font-weight: 900;
}

.hero {
  display: flex;
  width: 100%;
}

.hero h1 {
  display: block;
}

.hero img {
  width: 80%;
  float: right;
  height: auto;
}

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100vh;
  clip: rect(0, auto, auto, 0);
  background-image: url("/assets/img/hero.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image--overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(121, 85, 72, 0) 0%, rgba(121, 85, 72, 0.17) 21%, rgba(121, 85, 72, 0.5) 80%);
}

.hero__child {
  position: fixed;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0.8;
}

.hero__child--primary {
  top: -120px;
  left: 50px;
  width: 819px;
  height: 1621px;
  background-image: url("/assets/img/cloud-2.png");
}

.hero__child--secondary {
  top: 0;
  right: 50px;
  width: 300px;
  height: 500px;
  background-size: 300px auto;
  background-image: url("/assets/img/cloud-1.png");
}

.hero__title {
  position: absolute;
  top: 7vh;
  z-index: 1;
  width: 100%;
  opacity: 0;
  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  color: #fefae0;
  text-shadow: 1px 3px 8px #555555;
}

@media screen and (min-width: 768px) {
  .hero__title {
    top: 1vh;
  }
}
.hero__subtitle {
  position: absolute;
  color: #03045e;
  top: 20vh;
  font-weight: 600;
  font-size: 5vw;
  padding: 20px 10px;
  text-align: center;
  background-color: #ccd5ae;
  border: 2px dashed #444;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .hero__subtitle {
    top: 30vh;
  }
}
/**
* Animation 
*/
.animation--floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 200000ms;
          animation-duration: 200000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animation--title-in {
  -webkit-animation: title-in 800ms forwards ease-in-out 750ms;
          animation: title-in 800ms forwards ease-in-out 750ms;
}

.animation--from-top {
  -webkit-animation: from-top 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: from-top 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
}

.animation--from-bottom {
  -webkit-animation: from-bottom 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: from-bottom 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
}

/**
* Keyframes for specific animation
*/
@-webkit-keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes title-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes title-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes from-top {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes from-top {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes from-bottom {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes from-bottom {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.contact {
  font-size: 1.7rem;
}

.contact ul li {
  padding: 10px 0;
}

.contact img {
  height: 250px;
  width: auto;
  /* For fun I just added a shadow for transparent image*/
  filter: drop-shadow(1px 5px 15px #666);
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 920px;
  margin: 0 auto;
}

.selector {
  color: red;
}
@media (min-width: 767px) {
  .selector {
    color: blue;
  }
}
@media (min-width: 992px) {
  .selector {
    color: purple;
  }
}/*# sourceMappingURL=app.css.map */