@use "../layout/mixins";
@use "./variables" as v;

.btn-primary {
    @include btn;
    background-color: v.$primary-color;
}

.btn-secondary {    
    @include btn;
    background-color: v.$secondary-color;
    color: #fff;
}

.btn-success {    
    @include btn;
    background-color: v.$success-color;
    color: #fff;
}

.btn-danger {    
    @include btn;
    background-color: v.$danger-color;
    color: #fff;
}
.btn-warning {    
    @include btn;
    background-color: v.$warning-color;
}


