@use "../layout/mixins";

.contact {
    font-size: 1.7rem;
    ul {
        li {
            padding: 10px 0;
        }
    }
    img {
        height: 250px;
        width: auto;
        /* For fun I just added a shadow for transparent image*/
        filter: drop-shadow(1px 5px 15px #666);
    }

    
}